.dashboard {
    display: flex;
  }
  
  .dashboard-content {
    flex-grow: 1;
    padding: 20px;
    background-color: #f8f9fa;
  }
  
  .container {
    max-width: 800px;
    margin: auto;
  }
  
  .header {
    margin-bottom: 20px;
  }
  
  .header h2 {
    font-size: 24px;
    color: #333;
  }
  
  .profile-section {
    display: flex;
    margin-bottom: 30px;
  }
  
  .profile-picture {
    margin-right: 20px;
    text-align: center;
  }
  
  .profile-picture img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
  }
  
  .profile-picture input {
    margin-top: 10px;
  }
  
  .profile-details {
    flex-grow: 1;
  }
  
  .profile-details h3 {
    font-size: 20px;
    margin-bottom: 15px;
    color: #495057;
  }
  
  .profile-details p {
    font-size: 16px;
    color: #6c757d;
  }
  
  .password-section {
    margin-bottom: 30px;
  }
  
  .password-section h3 {
    font-size: 20px;
    margin-bottom: 15px;
    color: #495057;
  }
  
  .password-section .form-group {
    margin-bottom: 15px;
  }
  
  .password-section .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .password-section .btn-primary:hover {
    background-color: #0056b3;
  }
  
  .notifications-section h3 {
    font-size: 20px;
    margin-bottom: 15px;
    color: #495057;
  }
  
  .form-check {
    margin-bottom: 10px;
  }
  
  .form-check-input {
    margin-right: 10px;
  }
  