/* Sidebar styles */
.sidebar {
  width: 250px;
  background-color: #f4f4f4;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Evenly space items */
  flex-shrink: 0; /* Prevent sidebar from shrinking */
}
.logo {
  width: 80px;
  height: 40px;
  margin: 0px auto;
}

/* Sidebar links */
.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 15px; 
}

.sidebar ul li {
  margin-bottom: 10px;
}

.sidebar ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  padding: 10px 15px; /* Add padding for a better look */
  display: block;
  border-radius: 5px; /* Rounded corners for a modern look */
}

.sidebar ul li a:hover {
  color: #fff;
  background-color: #007bff; /* Background color on hover */
}

/* Dashboard styles */
.dashboard {
  display: flex;
}

/* Ensure content area does not overlap with sidebar */
.dashboard-content {
  padding: 20px;
  flex-grow: 1; /* Allow main content to take up remaining space */
}

.content {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}

.sidebar-scroll-container {
  height: calc(100% - 60px); /* Adjust based on your header/logo height */
  overflow-y: auto;
  padding-right: 10px; /* Add some padding for the scrollbar */
}
